@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
*{
    margin: 0px auto;
    padding: 0px auto;
}
body{
    background-color: black;
    text-align: center;
}
h1{
    color: white;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 50px;
    
}
h2{
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 50px;
}
#container{
    display: flex;
    background-color:antiquewhite;
    justify-content: center;
    margin-top: 400px;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    
}
.card{
    background-color: white;
    padding: 20px;
    width: 300px;
    border-radius: 8px;
}

.card img{
    width: 100%;
    height: auto;
}
button{
    margin-top: 15px;
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    
}
:hover{
    color: red;
}


